{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {},
  "extends": [
    "@fiverr/eslint-config-fiverr/rules/base",
    "@fiverr/eslint-config-fiverr/rules/es6",
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  "overrides": [
    {
      "files": [ "bin.js" ],
      "rules": {
        "no-console": 0
      },
    },
    {
      "files": [ "dangerfile.js" ],
      "globals": {
        "danger": true,
        "fail": true,
        "warn": true,
        "message": true
      }
    }
  ]
}
